<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Biblio Tech root</title>
  <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>

<body>
<div id="fon-image">
  <div id="display">

    <div id="content" class="console-text standart-text-size" >

      <div class="separator-40"></div>
      <span class="big-text-size">/ROOT</span>
      <div class="separator-60"></div>

      <div class="left-align standart-left-aligned-padding">
        <div onclick="location.href='/xxx'" class="link-div-button-box width-820">
          > Issue/receive a book
        </div>
      </div>


    </div>
  </div>

</div>
</body>
</html>