<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/common :: meta('Database reset')"/>

<body>
  <div id="fon-image">
    <div id="display">

      <div th:replace="templates/common :: bigheader"/>

      <div id="content" class="console-text standart-text-size" >

        <div class="separator-40"></div>
        <span class="big-text-size">/DATABASE RESET</span>
        <div class="separator-60"></div>

        <div class="left-align standart-left-aligned-padding">
          <div onclick="location.href='/login'" class="link-div-button-box width-820">
            > Wipe all data
          </div>
          <div class="separator-medium"></div>
          <div class="mini-text-size">
            Delete all data in current database. </br>
            There will be no available data in DB after this operation.
          </div>
          <div class="separator-medium"></div>
          <div class="separator-medium"></div>
          <div onclick="location.href='/history'" class="link-div-button-box width-820">
            > Wipe and setup demo data
          </div>
          <div class="separator-medium"></div>
          <div class="mini-text-size">
            Delete all data in current database and replace it with DEMO data. </br>
            There will be example mock data (books/readers/history) in DB after</br>
            this operation.
          </div>

          <div class="separator-medium"></div>
          <br/><br/><br/>
          <div onclick="location.href='/manage'" class="link-div-button-box width-820">
            > Return
          </div>
        </div>


      </div>
    </div>

  </div>
</body>
</html>