/*  id  */

#fon-image{
    background: url(../img/background-monitor.png) no-repeat;
    width:1200px;
    min-width:1200px;
    height:900px;
    min-height:900px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top:0;
    min-width: 50%;
    z-index:0;
}

#header_div{
    width:1000px;
    min-width:1000px;

    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;

    z-index:1;

    text-align:center;
}

#content{
    width:950px;
    min-width:950px;

    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    z-index:1;

    text-align:center;
}

#about-text{
    font-size: 20px;
    width:100%px;
    min-width:100%px;
    text-align:left;
    position: relative;
    left: 0px;
    padding-left:50px;
}

/*  tags  */

body{
    background-color:#000000;
}

/*  classes  */

.console-text{
    color:#d2fff0;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-weight: bold;
}

.micro-text-size{
    font-size:10px;
}

.mini-text-size{
    font-size: 20px;
}

.standart-text-size{
    font-size:30px;
}

.medium-text-size{
    font-size:30px;
}

.big-text-size{
    font-size:40px;
}

.huge-text-size{
    font-size:45px;
}

.text-size-23{
    font-size:23px;
}

.text-size-28{
    font-size:28px;
}

.text-size-250{
    font-size:250px;
}

.logo-text{
    color:#d2fff0;
    font-family: 'Lucida Console', 'OCR A Std', monospace;
    font-weight: normal;
    font-size:35px;
}

.header_hr{
    width:950px;
    padding: 0;
    margin-bottom:-15px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: #00fd7e 0px 0px 10px;
    border-top: 2px solid #d2fff0;
}

.submit-button{
    color:#29bd81;
}

.submit-button:hover{
    color:#000000;
}

.link-div-button-box{
    padding:5px 15px;
    background:transparent;
    border:2px;
    cursor:pointer;
    border-style: none;
    border-color: #d2fff0;
    color:#d2fff0;
}

.link-div-button-box:hover{
    background: #d2fff0;
    color:#0F110E;

    border-radius: 1px;
}

.separator-micro{
    height:2px;
}

.separator-medium{
    height:15px;
}

.separator-5{
    height:5px;
}

.separator-20{
    height:20px;
}

.separator-40{
    height:40px;
}

.separator-60{
    height:60px;
}

.separator-100{
    height:100px;
}

.separator-150{
    height:150px;
}

.left-align{
    width:100%;
    text-align:left;
}

.center-align{
    width:100%;
    text-align:center;
}

.inline-block{
    display: inline-block;
}

.standart-left-aligned-padding{
    padding-left:50px;
}

.mini-left-aligned-padding{
    padding-left:30px;
}

.width-820{
    width:820px;
    min-width:820px;
    max-width:820px;
}

.width-750{
    width:750px;
    min-width:750px;
    max-width:750px;
}

.width-925{
    width:925px;
    min-width:925px;
    max-width:925px;
}

.full-width{
    width: 945px;
    min-width:945px;
}

.inline{
    display:inline;
}