<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>About Biblio Tech</title>
  <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>

<body>
<div id="fon-image">
  <div id="display">

    <div id="content" class="console-text standart-text-size" >

      <div class="separator-medium"></div>
      <span class="big-text-size">/ABOUT BIBLIO TECH</span>
      <div class="separator-medium"></div>

      <div id="about-text">
        It's a small training project written by Yurii Semyk

        For access the terminal use this credentials:<br/>
        LOGON adm1n<br/>
        PASSWORD 0x1E0F3<br/><br/>

        Have fun!
      </div>

      <div>
        <div class="separator-60"></div>
      </div>

    </div>
  </div>

</div>
</body>
</html>